.card {
    width: 20rem;
    border-radius: 20px;
    overflow: hidden;
    margin: 20px;
    cursor: pointer;
    transition: .3s;
    box-shadow: 0 20px 20px rgba(3, 3, 3, 0.42);
    position: relative;
    height: 30rem;
}

.card:hover {
    transform: scale(1.12);
    box-shadow: 0 25px 20px -20px rgba(3, 3, 3, 0.42);

}
.thumb {
    object-fit: cover;
    width: 100%;

}

.headline {
    text-transform: capitalize;
}


.text {
    background-color: white;
    padding: 10px;
    box-sizing: border-box;
}


.time {
    font-size: .7rem;
    color: rgb(158, 158, 158);
}

.btnGroup {
    display: flex;
    justify-content: space-between;
    width: 6rem;
    position: absolute;
    bottom: 0;
    right: 3rem;
}

.delete {
    color: rgb(255, 56, 56);
    transition: .3s;
    padding: 5px 10px;
    border-radius: 10px;
}

.delete:hover {
    background-color: rgb(255, 56, 56);
    color: white;
}

.edit {
    color: aqua;
    transition: .3s;
    padding: 5px 10px;
    border-radius: 10px;
}

.edit:hover {
    color: white;
    background-color: aqua;
}